footer {
    position: relative;
    padding: 15px 0;
    background-color: #212121;
    display: flex;
    margin-top: 169px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #1351D8;
}

footer p {
    color: #FFF;
    margin-left: 5px;
    font: 400 16px Roboto, sans-serif;
}

.network {
    margin-left: 15%;
}

.network ul {
    display: flex;
    list-style: none;
}

.network ul li {
    margin: 10px;
}