.detail-container {
    width: 50%;
    height: 40%;
    margin: 32px auto;

    align-items: center;
    justify-content: center;
}
.detail-container .sections-container {
    border-radius: 8px;
    background-color: #FFF;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.back-button {
    position: relative;
    left: 10px;
    margin: 5px;
}

.sections-container .section-1 strong,
.sections-container .section-2 strong {
    display: block;
    margin-bottom: 10px;
    color: #41414d;
}
.sections-container .section-1 p + strong,
.sections-container .section-2  p + strong {
    margin-top: 50px;
}

.sections-container .section-1  p,
.sections-container .section-2  p {
    position: relative;
    left: 10px;
    color: #737380;
    line-height: 2.1rem;
    font-size: 1.6rem;
}

.sections-container .section-2 span {
    font-weight: 500;
    margin-right: 10px;
    color: #41414d;
}

.sections-container .section-2 a {
    color: #1351D8;
    font-size: 1.6rem;
    float: right;       
    top: 75px;
    right: 50px;
    position: relative;
}

.sections-container .section-2 {
    margin-left: 40%;
}

@media (max-width: 1025px) {
    .detail-container {
        margin: 0 10%;
    }

    .detail-container .sections-container {
        margin: 5px;
        padding: 10px;
        grid-template-columns: 1fr;
        width: 80vw;
    }

    .sections-container .section-2 {
        margin-left: 0;
        margin-top: 50px;
    }

    .sections-container .section-1  p,
    .sections-container .section-2  p {
        left: 0;
    }

    .sections-container .section-2 a {
        top: 30px;
        right: 0;
        font-size: 1.3rem;
    }
}
