.input-container {
    margin: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-date {
    display: flex;
}

form {
    text-align: center;
}

input {
    font: 400 1.6rem Roboto, sans-serif;
    text-align: center;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 8px;
}


p {
    font: 1.5rem Roboto, sans-serif;
    margin-bottom: 4px;
    line-height: 2.1rem;
}

.submit {
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px 84px;
    background-color: #FFF;
    font: 1.6rem Roboto, sans-serif;
}

.submit:hover {
    color: #FFF;
    background-color: #1351D8;
}

@media (max-width: 530px) {
    p  {
        font: 1.3rem Roboto, sans-serif;
    }

    .input-date {
        flex-direction: column;
    }

    input {
        padding: 5px;
    }

    .submit {
        padding: 5px 42px;
    }
}